[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
numpy = "*"
matplotlib = "*"
mpldatacursor = {git = "https://github.com/rfkortekaas/mpldatacursor"}

[dev-packages]
pyqt5-tools = "*"
flake8 = "*"

[requires]
python_version = "3"
